html{
	width: 100%;
}

h1{
	color:black;
}
header{
	display: block;
	text-align: center;
}

footer{
	display: block;
	position: relative;
	top:50px;
	margin: 0 auto;
	width: 80%;
	text-align: justify;
}

.MainContent{
	position: relative;
	top:75px;
	padding: 10px;
	width: 40%;
	height:100%;
	border:5px solid #B7B5B3;
	border-radius: 10px;
	margin: 0 auto;
}

.MainContent h4{
	text-align: center;
}

/* label is parent element */
.MainContent label{
  display: block;
  padding: 25px;
  margin-right: auto;
  margin-left: auto;
}

.MainContent input[type=number] {
	width: 50%;
	border-radius: 2px;
	outline: 0;
	border:1px solid black;
}
.MainContent input[type=submit] {
	position: relative;
	margin: 0 auto;
	display: block;
	background-color: #ff7477;
	width: 25%;
	border-radius: 2px;
	height:40px;
	outline: 0;
	top: auto;
	border:1px solid #ff7477;
	font-weight: 500;

}
.MainContent label p {
	display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}